* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #1b1a17;
  --white: #ffffff;
  --gold: #e99701;
}

/* body settings */

body {
  min-height: 100vh;
  background-color: var(--white);
  font-family: 'Gravitas One', cursive, sans-serif;
  font-weight: 100;
  /* color: #1b1a17; */
}

p {
  font-family: 'Poppins', sans-serif;
}

/* navigation  */
.navbar {
  font-family: 'Poppins', sans-serif;
  height: 10vh;
  width: 100%;
}
.navbar__wrapper {
  display: flex;
  align-items: center;
  margin: 0 3rem;

  height: 100%;
  justify-content: space-evenly;
}

.nav-ul {
  display: flex;
}

.navbar li {
  list-style: none;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  font-size: 14px;
}

.navbar li a {
  color: var(--dark);
}

.nav-ul li:last-child {
  border-right: 2px solid #333;
  padding-right: 1rem;
}

/* hide menu when hamburger menu sets in */
.hide-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home | Jackets | About */
.menu__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 1rem;
}

.menu__navigation a {
  margin-right: 0.5rem;
  padding: 0.1rem 0.9rem;
}

.active {
  color: #fff !important;
  background-color: #101820;
  height: 1.2rem;
  padding: 3rem 1.5rem;
  border-radius: 6px;
}

/* Hamburger menu */

.hamburger {
  background-color: transparent;
  border: 0;
  color: var(--dark);
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/* Search bar nav */

.nav__input {
  /* font-family: FontAwesome; */
  border-radius: 8px;
  color: var(--dark);

  padding-top: 0.35rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  width: 16rem;
}

/* main Logo img */
.logo__img {
  width: 6rem;
  margin-right: 1rem;
}

/* icons navbar */
.hero__icons {
  display: flex;
  padding: 0.8rem;
  color: var(--dark);
  margin-right: 1rem;
}
.hero__icons a {
  color: var(--dark);
}

.fa-shopping-bag:hover,
.fa-user:hover,
.fa-heart:hover {
  transform: scale(1.1);
  color: var(--dark);
}

.hero__icon {
  margin-left: 3rem;
  font-size: 1.2rem;
}

/* login */

.btn-group-mobile-wrapper {
  display: none;
}

.btn-group {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

.sign-up {
  outline: 1px solid #333;
}
/* sign up/log out btn */
.btn-log-a {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 900 !important;
  color: var(--dark);
  background-color: #f2f2f2;
  padding: 10px 10px;
  text-align: center;
  display: inline-block !important;
  text-decoration: none;
  border: 0;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}
/* 


/* sign in/ sign up hover state */

.btn-log-a:hover {
  transform: scale(1.04, 1);
  background-color: #3d4550;
  color: var(--white);
  border-radius: 8px;
  text-decoration: none;
}

/* hero section  ---------------------------------------------------------------------hero-section*/
.hero__section {
  height: 85vh;
  position: relative;
  background-image: url('/images/background-pattern-yellow.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

/* hero section overlay color */
.hero__section:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*   background: rgba(13, 109, 255, 0.3); */
  background: rgba(232, 149, 2, 0.79);
}

/* left side card */

.hero__left-side {
  display: inline-block;
  position: relative;
  flex: 1.5;
  background-image: url('/images/hero-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}

.hero__img-text {
  padding: 0.2rem 0.4rem;
  position: absolute;
  bottom: 5%;
  left: 0%;
  text-transform: uppercase;
  background: radial-gradient(circle farthest-corner at center center, white, #111) no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  color: transparent;
  font-size: 50px;
  /* font-weight: bolder; */
  width: 100%;
  text-align: center;
}

/* hero section right card */
.hero__right-side {
  /* display: inline-block; */
  position: relative;
  flex: 1;
  z-index: 999;
  padding: 1rem;
}

/* right paragraph */
.hero__right-text {
  color: var(--dark);
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-top: 2rem;

  text-transform: uppercase;
}
.flip-text {
  /* margin: 1rem 0; */
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  display: inline-block;
  margin: 1rem 0;
  background-color: #101820;
  color: var(--white);
  padding: 0.5rem 1.5rem;
  font-size: 30px;
  border-radius: 3px;
  align-items: center;
  border-bottom: 0.4rem solid #cccccc;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.hero__btn {
  text-align: center;
  margin-top: 2rem;
  border: 0;
}

.hero__btn h2 {
  color: var(--dark);
  font-size: 16px;
  margin-bottom: 0.6rem;
  font-weight: 300;
  margin-top: 1rem;
  text-transform: uppercase;
}

.hero__btn p {
  font-weight: 600;
  list-style: 1.2;
  margin-bottom: 1rem;
}

.btn__wrappers {
  display: flex;
  padding-top: 2rem;
}

.hero__btn-buttons {
  font-size: 16px;
  letter-spacing: 2px;

  background-color: #101820;
  color: var(--white);
  padding: 13px 30px;
  margin: auto;
  text-align: center;
  display: inline-block !important;
  text-decoration: none;
  border: 0;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}

.hero__btn-buttons:hover {
  transform: scale(1.04, 1);
  background-color: #3d4550;

  text-decoration: none;
}

/* facebook link */

.facebook {
  padding: 0.3rem 0.8rem;
  background-color: var(--white);
  position: absolute;
  bottom: 48.5px;
  right: -50.2px;
  transform: rotate(-90deg);
  font-size: 16px;
  border-radius: 3px 8px 0px 0px;
}

.facebook a {
  text-decoration: none;
  color: #4267b2;
  font-weight: thin;
}

.facebook:hover {
  font-weight: bolder;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.section-not-found {
  height: 100vh;
  width: 100vw;
  background-image: url(https://csshint.com/wp-content/uploads/2019/06/HTML-Funny-404-Pages.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.not__found {
  color: var(--white);
  text-align: center;
  padding: 18rem;
  font-size: 3rem;
}

.not__found-a {
  color: var(--white);
}
/* ------------------------------------------------------------------------------
---------------------------------Discover Page-------------------------------------
--------------------------------------------------------------------------------- */
/*Cover Image */

.hero__left-discover:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*   background: rgba(13, 109, 255, 0.3); */
  background: rgba(0, 0, 0, 0.5);
}

.hero__left-discover {
  display: inline-block;
  position: relative;
  flex: 1.5;
  background-image: url('/images/main image home.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
}

.discover__container {
  height: auto;
  max-width: 30rem;
  padding: 0rem 1rem;
  margin: 0.5rem auto;
}

.discover__title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 40px;
  color: var(--dark);
}

.discover__text {
  font-size: 16px;
  padding-top: 8px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--dark);
}

.discover__contact {
  padding: 0.3rem 0.8rem;
  background-color: var(--white);
  position: absolute;
  bottom: 40.5px;
  right: -42.2px;
  transform: rotate(-90deg);
  font-size: 16px;
  border-radius: 3px 8px 0px 0px;
}

.discover__contact a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 100;
}

.discover__contact:hover {
  font-weight: bolder;
  font-weight: 100;
}

/* ------------------------------------------------------------------------------
-----------------------------------Jackets--------------------------------------
--------------------------------------------------------------------------------- */

.section-jackets {
  min-height: 100vh;
  display: flex;
  background-color: var(--white);
  padding: 0 3rem;
  border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold);
}

.section__men {
  padding: 2rem;
  flex: 1;
}

.collection p {
  text-align: center;
}

.section__women {
  padding: 2rem;
  flex: 1;
  border-left: 1px solid #f1f1f1;
}
.men-title,
.women-title,
.section__men p,
.section__women p {
  text-align: center;
}

.product-image_fetch{

  height:14rem;
  width: 18rem;
  margin-left: 2rem;
  background-repeat: no-repeat  ;
  display: flex;
  justify-content: center;

  
}

.products h2{
  text-align: center;
}

.product-fetch{ 
display: inline-block;


}

/* ---------product single display -------------*/



.collection {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1000px;
}

.product {
  margin: 1rem auto;
  padding: 0.5rem;
}

.product__image {
  background: #fff;
  display: block;
  height: 150px;
  width: 150px;
}

.product__image img {
  height: 150px;
}
.product:hover {
  transform: scale(1.01);
  outline: 1px solid #f5f5f5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product__name span {
  font-size: 10px;
}

.product__name p {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
}

.product__name a {
  color: var(--dark);
  text-decoration: none;
}

.checked {
  color: var(--gold);
  margin-top: 0.5rem;
}

.product__price p {
  font-family: sans-serif;
  font-size: 10px;
}

/* -----------------------------------compo-------------------------------------- */

/*---------------------------------------------------------------------------------
 ------------popup------------- --------------------------------------------------------
 ---------------------------------------------------------------------------------*/

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  display: block;
}

.contentBox {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
  border-radius: 28px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contentBox .imgBx {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;

  align-items: center;
}
.contentBox .imgBx::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: var(--dark);

  border-radius: 50%;
}

.contentBox .imgBx img {
  position: relative;
  max-width: 250px;
  z-index: 1;
}

.contentBox .content {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox .content h3 {
  color: var(--dark);
  line-height: 1em;
  font-weight: 300;
  font-size: 1em;
}

.contentBox .content h2 {
  font-size: 4em;
  color: #ff4d54;
  line-height: 1em;
}

.contentBox .content h2 span {
  color: var(--dark);
  font-size: 0.75em;
  text-transform: uppercase;
}

.contentBox .content p {
  font-weight: 300;
}

.contentBox .content a {
  display: inline-block;
  padding: 10px 20px;
  background: #101820;
  color: var(--white);
  margin-top: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #f3f3f3 url('/images/close-icon.png');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

/* ----------------------------------------------------------------
----------------------------------clickedjackets-------------------
------------------------------------------------------------------- */

.section {
  display: flex;
  height: 83vh;
  border-top: 1px solid #ecaa09;
  border-bottom: 1px solid #ecaa09;
  padding: 0 4rem;
}

.sidebar-left {
  min-width: 20%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
  padding-top: 4rem;
  flex-direction: column;
  row-gap: 45px;
}

.title-clicked-jacket {
  padding-top: 3.8rem;
  margin-bottom: 2rem;
}
.title-clicked-jacket span {
  font-size: 12px;
}

.title-clicked-jacket p {
  margin: 0.5rem 0;
  font-size: 16px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ecaa09;
}

.image-small {
  height: 110px;
  width: 110px;
}
.image-small img {
  height: 100%;
  width: 100%;
}

.image-small img:hover {
  transform: scale(1.1);
}

.image-small {
  transition: all 0.2s ease-in-out;
}

.main {
  height: 100%;
  min-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clickedjacket-heart {
  position: absolute;
  top: 15%;
  right: 17%;
  transform: translate(-17%, -15%);

  font-size: 2rem;
}

/* .image-main {
  height: 100%;
  width: 100%;
} */
.image-main img {
  height: 100%;
  width: 100%;
}

.sidebar-right {
  min-width: 20%;
  height: 100%;
}
.jacket__color-image {
  display: flex;
  flex-direction: row;
}

.jacket-size {
  margin-top: 1.5rem;
}

.jacket-size p {
  margin: 0.2rem;
  text-align: left;
}

.select-size input {
  display: none;
}

label {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer;
}

#small:checked ~ label[for='small'],
#medium:checked ~ label[for='medium'],
#large:checked ~ label[for='large'],
#x-large:checked ~ label[for='x-large'],
#xx-large:checked ~ label[for='xx-large'] {
  background: #101820;
  color: var(--white);
}

.cartImg{
  width:200px;
  border:2px solid red;
}

/* ---------------------------------------------------------------------------------------
--------------------------------------------Contacct Us------------------------------------
---------------------------------------------------------------------------------------------- */

.contact__container {
  background: #f8f8f8;
  width: 1600px;
  height: 600px;
  border-top: 1px solid rgba(232, 149, 2, 0.79);
  border-bottom: 1px solid rgba(232, 149, 2, 0.79);
  box-shadow: 0px 0px 10px #c8c7d9;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__container .map {
  width: 45%;
  margin-right: 2rem;
}
.contact__container .contact__contact-form {
  width: 53%;
  margin-left: 2%;
}
.contact__container .contact__contact-form .contact__title {
  font-size: 25px;

  font-weight: 300;
  color: var(--dark);
  text-align: left;
}
.contact__container .contact__contact-form .contact__subtitle {
  font-size: 12px;
  font-weight: 400;
}
.contact__container .contact__contact-form input,
.contact__container .contact__contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: var(--dark);
  border: 1px solid #b7b7b7;
}
.contact__container .contact__contact-form input::placeholder,
.contact__container .contact__contact-form textarea::placeholder {
  color: var(--dark);
}
.contact__container .contact__contact-form .contact__btn-send {
  background: #000;
  width: 180px;
  height: 40px;
  color: #f8f8f8;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}

.error{
  color:red;
  display: flex;

 align-items: flex-start;
  font-size: 10px;
  margin-left: 55px;


}

.error-border{
  Border-bottom:1 px solid red;
}

#success{
  color:#4BB543;
  margin-left: 55px;
}



/* -----------------------------------------------------------------------------------------
 ----------------------------------purchase bag---------------------------------------------
 --------------------------------------------------------------------------------------------*/


.product-items ion-icon{
  font-size: 35px;
  color:blue;
  /* margin: 0px 10px; */
}

 .product-items{
   width: 45%;
   display:flex;
   justify-content:left;
   align-items: center;
   padding: 10px 10px;
   border-bottom: 1px solid lightgray;
 
   /* flex-wrap: wrap; */

 

 }

 .samle {
   display: flex;
   flex-direction: row;
 }
 .product-items img{
   height: 75px;
   
 }

 

 

 .container-product{
   max-width: 650px;
  justify-content: space-around;
  margin-top: 50px;
  margin: 0 auto;

 font-size:14px;
 


 }

 .product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid lightgray;
  margin: 0 auto;}

 .product-title{
   width: 53%;


 }

 .price{
   width: 15%;
   border-bottom: 1px solid lightgray;
   display: flex;
   align-items: center;
   justify-content: left;
  

  }

  .quantity{
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
  }

 .quantity ion-icon{
  font-size: 30px;
  color:blue;
  margin: 0px 10px;
 }

 .quantity-product{
   width: 30%;
   border-bottom: 1px solid lightgray;
    display: flex;
   align-items: center;
   justify-content: center;

 
 }

 .totale{
width:20%;
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center;
align-content: center;
  justify-content: center;
  
 }

 .total{
  width: 20%;
   border-bottom: 1px solid lightgray;
   display: flex;
   align-items: center;
 }

 .Purchase-wrapper {
  margin: 0 auto;

}



.product__price p{
  text-align: left;

}


.addCart{

background-color:#333;
color:#fff;
padding: 6px 10px;
border-radius: 5px;
cursor: pointer;

  
}

.cartTotalContainer{
  display: flex;
justify-content: flex-end;
width: 90%;
padding: 10px 0;
font-size: 16px;
}

.cartTotalTitle{
  width: 30%;
}

.cartTotal{
  width:10%;
}

.hero__icon-3{
  width: 3.5rem;
  font-size: 16px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  -ms-flex-align: center;
align-items: baseline;
background-color: #4267b2;
color: #fff;
padding: 5px 5px;

}

.fa-shopping-cart{
  color: #fff;
font-size: 22px;
}



/* ---------------------------------------------------------------------------------------
-------------------------------------log-in----------------------------------------------
---------------------------------------------------------------------------------------- */



.log-up-title {
  text-align: center;
}

.div__form-1 {
  /*   height: 100%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__label {
  border: 0;
}

form {
  border: 2px solid #f1f1f1;
  height: 80%;
  width: 600px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-login {
  background-color: var(--dark);
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn-login:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

.psw {
  float: right;
  padding-top: 16px;
}

/* ---------------------------------------------------------media
------------------------------------------------------------query
--------------------------------------------------------------- */

/* 
  Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*-------------------------------------
  -------------- navigation and hamburger menu ------
  ----------------------------------------------------*/

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .logo-hamburger__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar a {
    font-size: 10px;
  }

  .hamburger {
    display: block;
    font-size: 1.2rem;
  }

  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-ul.show {
    display: flex;
    font-size: 10px;
  }

  .nav-ul li:last-child {
    border-right: 0;
  }

  .logo__img {
    width: 4rem;
  }

  /* .menu__navigation a {
    margin-right: 0.5rem;
    padding: 0.1rem 0.9rem;
  } */

  .hide-menu {
    display: none;
  }

  /* --------------------------------------------------------------------
  -------------------------------hero section------------------------
  --------------------------------------------------------------------- */
  .hero__section {
    flex-direction: column;
    min-height: 60rem;
  }

  .hero__img-text {
    font-size: 28px;
  }

  .hero__right-side {
    margin: 0 auto;
  }
  .hero__right-text {
    font-size: 24px;
  }
  .flip-text {
    font-size: 22px;
    margin-bottom: 0;
  }

  .section-jackets {
    flex-direction: column;
  }
  .facebook {
    font-weight: 100;
  }

  .btn__wrappers {
    flex-direction: column-reverse;
    row-gap: 1rem;
    padding: 0.8rem;
  }
  .hero__btn-buttons {
    padding: 10px 20px;
  }
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) 
  */
@media only screen and (min-width: 600px) {
  /*-------------------------------------
  -------------- navigation and hamburger menu ------
  ----------------------------------------------------*/

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .logo-hamburger__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar a {
    font-size: 10px;
  }

  .hamburger {
    display: block;
    font-size: 1.2rem;
  }

  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-ul li:last-child {
    border-right: 0;
  }

  .nav-ul.show {
    display: flex;
    font-size: 10px;
  }

  .logo__img {
    width: 4rem;
  }

  /* .menu__navigation a {
    margin-right: 0.5rem;
    padding: 0.1rem 0.9rem;
  } */

  .hide-menu {
    display: none;
  }

  /* --------------------------------------------------------------------
  -------------------------------hero section------------------------
  --------------------------------------------------------------------- */
  .hero__section {
    flex-direction: column;
    min-height: 60rem;
  }

  .hero__img-text {
    font-size: 40px;
  }
  .hero__right-text {
    font-size: 30px;
    margin: 0 auto;
  }
  .flip-text {
    font-size: 28px;
  }

  .hero__paragraph-container {
    margin: 0 auto;
    width: 90%;
  }
  .facebook {
    font-weight: 100;
  }

  .btn__wrappers {
    flex-direction: column-reverse;
    row-gap: 1rem;
    padding: 0.8rem;
  }
  .hero__btn-buttons {
    padding: 10px 20px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .logo-hamburger__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar a {
    font-size: 10px;
  }
  .hamburger {
    display: block;
    font-size: 1.2rem;
  }

  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-ul li:last-child {
    border-right: 0;
  }

  .nav-ul.show {
    display: flex;
    font-size: 10px;
  }

  .logo__img {
    width: 4rem;
  }

  .hide-menu {
    display: none;
  }

  /* --------------------------------------------------------------------
  -------------------------------hero section------------------------
  --------------------------------------------------------------------- */
  .hero__section {
    flex-direction: column;
    min-height: 60rem;
  }

  .hero__img-text {
    font-size: 40px;
  }
  .hero__right-text {
    font-size: 38px;
  }
  .flip-text {
    font-size: 36px;
  }
  .facebook {
    font-weight: 200;
  }

  .btn__wrappers {
    flex-direction: column-reverse;
    row-gap: 1rem;
    padding: 0.8rem;
  }
  .hero__btn-buttons {
    padding: 18px 28px;
  }
}

/* Large devices (laptops/desktops, 992px and up) 
  */

@media only screen and (min-width: 992px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .logo-hamburger__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .hamburger {
    display: block;
    font-size: 1.2rem;
  }

  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-ul li:last-child {
    border-right: 0;
  }

  .nav-ul.show {
    display: flex;
    font-size: 10px;
  }

  .logo__img {
    width: 4rem;
  }

  .hide-menu {
    display: none;
  }

  /* --------------------------------------------------------------------
  -------------------------------hero section------------------------
  --------------------------------------------------------------------- */
  .hero__section {
    flex-direction: column;
    min-height: 60rem;
  }

  .hero__img-text {
    font-size: 40px;
  }
  .hero__right-text {
    font-size: 38px;
    margin: 2rem 2rem 0 2rem;
  }
  .flip-text {
    font-size: 36px;
  }
  .facebook {
    font-weight: 200;
  }

  .btn__wrappers {
    flex-direction: column-reverse;
    row-gap: 1rem;
    padding: 0.8rem;
  }
  .hero__btn-buttons {
    padding: 18px 28px;
  }
}

/* Extra large devices (large 
  laptops and desktops, 
  1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
  } */

  .menu__navigation {
    margin-right: 5rem;
  }

  .navbar a {
    font-size: 16px;
  }

  .logo-hamburger__wrapper {
    display: none;
  }

  .logo-hamburger__wrapper:first-child {
    display: flex;
    justify-content: space-around;
  }

  .hamburger {
    display: none;
  }

  .nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .logo__img {
    display: block;
    width: 5rem;
  }

  .nav__input {
    margin-left: 1rem;
  }

  .hide-menu {
    display: flex;
  }

  /* ------------------------------------------------------------------------------------- */

  .hero__section {
    flex-direction: row;
    min-height: 100%;
  }

  .hero__img-text {
    font-size: 38px;
  }

  .hero__right-text {
    font-size: 24px;
    margin: 2rem 1rem 0 2rem;
  }
  .flip-text {
    font-size: 22px;
  }

  .hero__paragraph-container h2 {
    margin-top: 4rem;
  }

  .facebook {
    font-weight: 100;
  }

  .btn__wrappers {
    flex-direction: row-reverse;
    row-gap: 0.5rem;
    padding: 0.8rem;
    margin-top: 3rem;
  }
  .hero__btn-buttons {
    padding: 12px 20px;
  }

  .hero__btn h2 {
    margin-top: 1;
  }

  .hero__btn p {
    font-size: 16px;
  }

  /* --------------------------------------discover------------------------------------------------ */
  .discover__container {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1600px) {
  .navbar__wrapper {
    display: flex;
    align-items: center;
  }

  .navbar a {
    font-size: 18px;
  }

  .logo-hamburger__wrapper {
    display: none;
  }

  .logo-hamburger__wrapper:first-child {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }

  .nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .logo__img {
    display: block;
    width: 6rem;
    margin-right: 6rem;
  }

  .hide-menu {
    display: flex;
  }

  /* ------------------------------------------------------------------------------------- */

  .hero__section {
    flex-direction: row;
    min-height: 100%;
  }

  .hero__img-text {
    font-size: 58px;
  }

  .hero__right-text {
    font-size: 40px;
    margin: 2rem 2rem 0 2rem;
  }
  .flip-text {
    font-size: 36px;
  }
  .facebook {
    font-weight: 100;
  }

  .btn__wrappers {
    flex-direction: row-reverse;
    row-gap: 1rem;
    padding: 0.8rem;
  }
  .hero__btn-buttons {
    padding: 20px 30px;
  }

  .hero__btn p {
    font-size: 20px;
  }

  .hero__btn h2 {
    font-size: 30px;
  }
}
